$pColor: #2748a3;
$backColor: #ffe270;
$subHead: #5e5e5e;
$fontColor: #d1d1d1;
$fontHeading: century gothic;
$fontPara: 'Oxygen', sans-serif;
$fontMon: 'Monsterrat', sans-serif;
$col: 8.33%;
$divPad: 2%;
$test: #333;
$test2: blue;
$test3: red;